.footer {
    &-container {
        display: flex;
        flex-direction: column;
        padding: 7rem;
        align-items: center;
    }
    &-brand {
        display: flex;
        margin-bottom: 5rem;
        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border: 3px solid $color-primary;
            border-radius: 50%;
            margin-right: 2rem;
            & i {
                @include logo;
                @media (max-width: 1200px) {
                    font-size: 2.4rem;
                    padding: 2.4rem;
                }
            }
        }
        &-text-box {
            display: flex;
            flex-direction: column;
        }
        &-main-line {
            @include heading;
            @media (max-width: 1200px) {
                font-size: 3rem;
            }
        }
        &-sub-line {
            @include sub-heading;
            @media (max-width: 1200px) {
                font-size: 1.2rem;
            }
        }
    }
    &-social-links {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        @media (max-width: 1200px) {
            gap: 3rem;
        }
        .item {
            list-style: none;
            font-size: 3.2rem;
            @media (max-width: 1200px) {
                font-size: 2.4rem;
            }
            a ion-icon {
                color: lighten($color: $color-primary, $amount: 18);
                transition: all 0.3s;
                &:hover {
                    color: $color-primary;
                }
            }
        }
    }
    &-copyrights {
        margin-top: 3rem;
        p {
            color: $color-secondary;
            font-size: 1.4rem;
            text-transform: capitalize;
        }
    }
}