@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fugaz+One&family=Lato:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #2d3436;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 10px;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(../images/bg.jpeg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 18%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.4rem;
}

@media (max-width: 1200px) {
  .logo {
    margin-bottom: 1.8rem;
  }
}

.logo .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 3px solid #fdcb6e;
  border-radius: 50%;
  margin-right: 2rem;
}

.logo .icon i {
  font-size: 3rem;
  color: #fdcb6e;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .logo .icon i {
    font-size: 2.4rem;
    padding: 2.4rem;
  }
}

@media (max-width: 978px) {
  .logo .icon i {
    font-size: 1.8rem;
    padding: 1.8rem;
  }
}

.logo .main-line {
  color: #fdcb6e;
  font-size: 4rem;
  font-family: "Fugaz One";
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .logo .main-line {
    font-size: 3rem;
  }
}

@media (max-width: 978px) {
  .logo .main-line {
    font-size: 2.4rem;
  }
}

.logo .sub-line {
  color: #b2bec3;
  font-size: 1.5rem;
  font-family: "Dancing Script";
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .logo .sub-line {
    font-size: 1.2rem;
  }
}

@media (max-width: 978px) {
  .logo .sub-line {
    font-size: 1rem;
  }
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 3.2rem;
  padding: 6.4rem;
  border: 1px solid #fdcb6e;
  border-radius: 9px;
}

@media (max-width: 1200px) {
  .banner {
    margin-top: 2.4rem;
  }
}

.banner .main-heading {
  color: #fdcb6e;
  font-family: "Dancing Script";
  font-size: 12.8rem;
  text-align: center;
}

@media (max-width: 1600px) {
  .banner .main-heading {
    font-size: 6.4rem;
  }
}

@media (max-width: 1200px) {
  .banner .main-heading {
    font-size: 4.8rem;
  }
}

.banner .sub-heading {
  color: #b2bec3;
  font-family: "Lato";
  text-align: center;
  font-size: 3.2rem;
  margin-top: 3.2rem;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .banner .sub-heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 1600px) {
  .banner .sub-heading {
    font-size: 1.8rem;
  }
}

.reservation-box {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reservation-box .main-btn {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: "Fugaz One";
  letter-spacing: 1;
  background-color: transparent;
  border: 2px solid #fdcb6e;
  color: #fdcb6e;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reservation-box .main-btn:hover {
  background-color: #fdcb6e;
  color: #000;
  cursor: pointer;
}

.section-about-us {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 978px) {
  .section-about-us {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section-about-us-left {
  width: 40%;
  position: relative;
  left: -200px;
}

.section-about-us-left img {
  width: 100%;
  opacity: 0.75;
}

@media (max-width: 978px) {
  .section-about-us-left {
    width: 0%;
  }
}

.section-about-us-right {
  width: 60%;
  margin: 1rem;
  border: 1px solid #fdcb6e;
  padding: 3rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1600px) {
  .section-about-us-right {
    margin: 2rem;
  }
}

@media (max-width: 978px) {
  .section-about-us-right {
    width: 85%;
  }
}

.section-about-us-right .main-btn {
  margin-top: 2rem;
  width: 15%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1.2rem;
  background-color: #fdcb6e;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 1.4rem;
  font-family: "Fugaz One";
}

@media (max-width: 1600px) {
  .section-about-us-right .main-btn {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 978px) {
  .section-about-us-right .main-btn {
    width: 40%;
    padding: 0.8rem;
    font-size: 1rem;
  }
}

.section-about-us-right .main-btn:hover {
  background-color: #fca709;
}

.section-about-us-right .description-box {
  margin-top: 3rem;
  color: #fdcb6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-up,
.star-below {
  font-size: 2rem;
}

@media (max-width: 978px) {
  .star-up,
  .star-below {
    font-size: 1.6rem;
  }
}

.star-up {
  position: absolute;
  z-index: 999;
  background-color: #2d3436;
  padding: 0 5px;
  top: -3px;
}

.star-below {
  position: absolute;
  z-index: 999;
  background-color: #2d3436;
  padding: 0 5px;
  bottom: 3px;
}

.description {
  font-size: 1.8rem;
  padding: 2.4rem;
  border: 1px dotted #fdcb6e;
  margin: 1rem 2rem;
  border-radius: 9px;
  font-family: "Lato";
  font-style: italic;
}

.description-box {
  position: relative;
}

.description::first-letter {
  font-size: 2.4rem;
}

@media (max-width: 1600px) {
  .description::first-letter {
    font-size: 1.8rem;
  }
}

@media (max-width: 1600px) {
  .description {
    font-size: 1.2rem;
    padding: 1.8rem;
  }
}

@media (max-width: 978px) {
  .description {
    font-size: 1.2rem;
    padding: 1.2rem;
  }
}

.main-heading {
  color: #fdcb6e;
  font-family: "Dancing Script";
  font-size: 12.8rem;
  text-align: center;
}

@media (max-width: 1600px) {
  .main-heading {
    font-size: 6.4rem;
  }
}

@media (max-width: 978px) {
  .main-heading {
    font-size: 4.8rem;
  }
}

.main-heading:after {
  content: "  ";
  height: 3px;
  background-color: #fdcb6e;
  width: 90px;
  display: block;
  border-radius: 2px;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .main-heading:after {
    width: 70px;
  }
}

@media (max-width: 978px) {
  .main-heading:after {
    width: 50px;
  }
}

.sub-heading {
  color: #b2bec3;
  font-family: "Lato";
  text-align: center;
  font-size: 3.2rem;
  margin-top: 3.2rem;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  .sub-heading {
    font-size: 3.2rem;
  }
}

@media (max-width: 978px) {
  .sub-heading {
    font-size: 2rem;
  }
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

@media (max-width: 970px) {
  .card {
    margin: 0 auto;
    width: 50%;
    height: 45vw;
  }
}

.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.card:hover .card-overlay {
  top: 0;
}

.card-overlay {
  background-color: rgba(253, 203, 110, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.card-overlay-heading {
  font-size: 5rem;
  font-family: "Lato";
}

@media (max-width: 970px) {
  .card-overlay-heading {
    font-size: 3.2rem;
  }
}

.card-overlay-description {
  margin-top: 5px;
  font-size: 3rem;
  font-family: "Lato";
}

@media (max-width: 970px) {
  .card-overlay-description {
    margin-top: 3px;
    font-size: 2.4rem;
  }
}

.card-overlay-btn {
  font-family: "Fugaz One";
  margin-top: 5rem;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: #b2bec3;
  outline: none;
  border: 1px solid #fdcb6e;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 970px) {
  .card-overlay-btn {
    margin-top: 3px;
    font-size: 1.2rem;
  }
}

.card-overlay-btn:hover {
  background-color: #fdcb6e;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.footer-brand-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 3px solid #fdcb6e;
  border-radius: 50%;
  margin-right: 2rem;
}

.footer-brand-icon i {
  font-size: 3rem;
  color: #fdcb6e;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .footer-brand-icon i {
    font-size: 2.4rem;
    padding: 2.4rem;
  }
}

.footer-brand-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-brand-main-line {
  color: #fdcb6e;
  font-size: 4rem;
  font-family: "Fugaz One";
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer-brand-main-line {
    font-size: 3rem;
  }
}

.footer-brand-sub-line {
  color: #b2bec3;
  font-size: 1.5rem;
  font-family: "Dancing Script";
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1200px) {
  .footer-brand-sub-line {
    font-size: 1.2rem;
  }
}

.footer-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}

@media (max-width: 1200px) {
  .footer-social-links {
    gap: 3rem;
  }
}

.footer-social-links .item {
  list-style: none;
  font-size: 3.2rem;
}

@media (max-width: 1200px) {
  .footer-social-links .item {
    font-size: 2.4rem;
  }
}

.footer-social-links .item a ion-icon {
  color: #feebc9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-social-links .item a ion-icon:hover {
  color: #fdcb6e;
}

.footer-copyrights {
  margin-top: 3rem;
}

.footer-copyrights p {
  color: #b2bec3;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.nav-bar-container {
  position: relative;
  z-index: 200000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar-left {
  background-color: #636e72;
  width: 50%;
  height: 100vh;
  position: absolute;
  left: -50vw;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 978px) {
  .nav-bar-left {
    width: 0;
  }
}

.nav-bar-left .img {
  width: 50%;
  -webkit-box-shadow: 0 18px 15px #000;
          box-shadow: 0 18px 15px #000;
  border-radius: 15px;
}

.nav-bar-left .img1 {
  position: absolute;
  top: 15%;
  left: 15%;
}

@media (max-width: 1200px) {
  .nav-bar-left .img1 {
    top: 25%;
    left: 15%;
  }
}

.nav-bar-left .img2 {
  position: absolute;
  top: 35%;
  left: 25%;
}

@media (max-width: 1200px) {
  .nav-bar-left .img2 {
    top: 40%;
    left: 25%;
  }
}

.nav-bar-left .img3 {
  position: absolute;
  top: 55%;
  left: 35%;
}

@media (max-width: 1200px) {
  .nav-bar-left .img3 {
    top: 55%;
    left: 35%;
  }
}

.nav-bar-right {
  position: fixed;
  right: -50vw;
  background-color: #2d3436;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

@media (max-width: 978px) {
  .nav-bar-right {
    width: 100%;
    right: -100vw;
  }
}

.nav-bar-right .item {
  list-style: none;
}

.nav-bar-right .item a {
  text-decoration: none;
  color: #b2bec3;
  font-family: "Dancing Script";
  font-size: 5rem;
  text-transform: capitalize;
}

.nav-bar-right .item a:hover {
  letter-spacing: 5px;
  color: #fdcb6e;
}

.hamburger-menu {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 200001;
}

@media (max-width: 978px) {
  .hamburger-menu {
    top: 4.8%;
    width: 2.4rem;
    height: 2.4rem;
  }
}

.hamburger-menu .menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.hamburger-menu .menu-line {
  width: 100%;
  height: 4px;
  background-color: #fdcb6e;
  border-radius: 5px;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

@media (max-width: 978px) {
  .hamburger-menu .menu-line {
    height: 2.4px;
  }
}

.check-box:checked ~ .nav-bar-container .nav-bar-left {
  left: 0;
}

.check-box:checked ~ .nav-bar-container .nav-bar-right {
  right: 0;
}

.check-box:checked ~ .hamburger-menu .menu {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.check-box:checked ~ .hamburger-menu .menu-line-1 {
  -webkit-transform: rotateZ(-40deg);
          transform: rotateZ(-40deg);
}

.check-box:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.check-box:checked ~ .hamburger-menu .menu-line-3 {
  -webkit-transform: rotateZ(40deg);
          transform: rotateZ(40deg);
}
